<a href="https://colab.research.google.com/github/Sudhir22/Plane-Accident-Severity/blob/master/Model_XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -q xlrd
!git clone https://github.com/Sudhir22/Plane-Accident-Severity.git

Cloning into 'Plane-Accident-Severity'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 8 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (8/8), done.

In [0]:
import pandas as pd
import xgboost as xbg
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import precision_score, recall_score, accuracy_score,f1_score

In [0]:
train_data=pd.read_csv('Plane-Accident-Severity/train.csv')

In [69]:
train_data.head()

                                  Severity  ...  Accident_ID
0                Minor_Damage_And_Injuries  ...         7570
1                Minor_Damage_And_Injuries  ...        12128
2        Significant_Damage_And_Fatalities  ...         2181
3  Significant_Damage_And_Serious_Injuries  ...         5946
4        Significant_Damage_And_Fatalities  ...         9054

[5 rows x 12 columns]

In [70]:
train_data.groupby(['Severity']).count()

                                         Safety_Score  ...  Accident_ID
Severity                                               ...
Highly_Fatal_And_Damaging                        3049  ...         3049
Minor_Damage_And_Injuries                        2527  ...         2527
Significant_Damage_And_Fatalities                1695  ...         1695
Significant_Damage_And_Serious_Injuries          2729  ...         2729

[4 rows x 11 columns]

In [0]:
train_data['Severity']=pd.Categorical(train_data['Severity'])
train_data['Severity_Code']=train_data['Severity'].cat.codes

In [72]:
X=train_data.iloc[:,1:11]
X.head()

   Safety_Score  Days_Since_Inspection  ...  Violations  Adverse_Weather_Metric
0     49.223744                     14  ...           3                0.424352
1     62.465753                     10  ...           2                0.352350
2     63.059361                     13  ...           3                0.003364
3     48.082192                     11  ...           1                0.211728
4     26.484018                     13  ...           2                0.176883

[5 rows x 10 columns]

In [0]:
Y=train_data.iloc[:,12]

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [75]:
D_train = xbg.DMatrix(X_train, label=Y_train)
D_test = xbg.DMatrix(X_test, label=Y_test)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [0]:
param = {
    'eta': 0.3, 
    'max_depth': 8,  
    'objective': 'multi:softprob',  
    'num_class': 4} 

steps = 20  # The number of training iterations

In [0]:
model = xbg.train(param, D_train, steps)

In [110]:
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(Y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(Y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(Y_test, best_preds)))
print("F1-score = {}".format(f1_score(Y_test,best_preds,average='weighted')))

Precision = 0.9487016299019654
Recall = 0.9516975022500733
Accuracy = 0.951
F1-score = 0.9510361234181214

In [0]:
test_data=pd.read_csv("Plane-Accident-Severity/test.csv")

In [90]:
test_data.shape

(2500, 12)

In [0]:
test_X=test_data.iloc[:,0:10]

In [82]:
test_X.head()

   Safety_Score  Days_Since_Inspection  ...  Violations  Adverse_Weather_Metric
0     19.497717                     16  ...           2                0.069692
1     58.173516                     15  ...           2                0.002777
2     33.287671                     15  ...           1                0.004316
3      3.287671                     21  ...           2                0.199990
4     10.867580                     18  ...           2                0.483696

[5 rows x 10 columns]

In [89]:
test_X.shape

(2500, 10)

In [0]:
D_test_test=xbg.DMatrix(test_X)
test_preds = model.predict(D_test_test)
best_test_preds = np.asarray([np.argmax(line) for line in test_preds])

In [95]:
test_preds.shape

(2500, 4)

In [0]:
severity_dict={1:'Minor_Damage_And_Injuries',2:'Significant_Damage_And_Fatalities',3:'Significant_Damage_And_Serious_Injuries',0:'Highly_Fatal_And_Damaging'}

In [0]:
severity_list=list()
for x in best_test_preds:
  severity_list.append(severity_dict[x])

In [0]:
test_data['Severity']=pd.Series(severity_list)

In [0]:
test_data[['Accident_ID','Severity']].to_csv("Plane-Accident-Severity/submission2.csv",index=False)